.step1-outro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.step1-outro-image {
  width: 45%;
}

.step1-outro-text-and-buttons-container {
  width: 40%;
}
.step1-outro-text-container {
}
