@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/src/common/styles/colors.scss";
@import "/src/common/styles/common.scss";

.intro-title {
  font-size: 2rem;
  font-weight: bold;
}

.intro-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-button {
  border: 1px solid $wnl-orange;
  padding: $box-padding;
  border-radius: $box-radius;
  font-weight: bold;
  margin-top: 20px;
}

.cancel-button {
  border: 1px solid rgb(212, 73, 73);
  padding: $box-padding;
  border-radius: $box-radius;
  font-weight: bold;
  margin-top: 20px;
}

.intro-button:hover {
  background-color: $wnl-orange;
}

.cancel-button:hover {
  background-color: rgb(212, 73, 73);
}

.calendly-button {
  background-color: rgb(5, 103, 246);
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: auto;
}
