.step2-intro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.step2-intro-image {
  width: 45%;
}

.step2-intro-text-container {
  width: 40%;
}
