.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.logo {
  width: 200px;
}

.login-signup-container {
  display: flex;
  column-gap: 10px;
}
.login-button {
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: inherit;
  border: 1px solid inherit;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.login-button:hover {
  background-color: #ef6637;
  border-color: #ef6637;
}

.signup-button {
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: inherit;
  border: 1px solid inherit;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.signup-button:hover {
  background-color: #ef6637;
  border-color: #ef6637;
}
