@import "/src/common/styles/colors.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
}

.logo {
  width: 200px;
}

.profile-container {
  display: flex;
  column-gap: 30px;
  font-weight: bold;
}

.dashboard-link {
  color: rgb(52, 187, 52);
}
.dashboard-link:hover {
  color: $wnl-orange;
}
.logout-button:hover {
  color: $wnl-orange;
}

.login-signup-container {
  display: flex;
  column-gap: 20px;
  font-weight: bold;
}

.login-button:hover {
  color: $wnl-orange;
}

.signup-button:hover {
  color: $wnl-orange;
}
