@import "/src/common/styles/colors.scss";

.form-question-container {
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 5vh;
  margin: 40px auto 0 auto;
}

.form-question-title {
  font-size: 1.5rem;
}

.options-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.ranking-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ranking-option-container {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.likert-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.likert-description {
  display: flex;
  justify-content: flex-end;
  color: $wnl-orange;
  font-weight: bold;
}
.likert-option-container {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.likert-option-label {
  width: 70%;
}

.likert-option {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.multiple-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.multiple-label {
  display: flex;
  column-gap: 5px;
}

.check-box-transparent {
  padding: 10px;
  border: 1px solid $wnl-orange;
  background-color: rgba(255, 165, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
  column-gap: 15px;
}

.check-box-transparent:hover {
  background-color: $wnl-orange;
}

.check-box-checked {
  padding: 10px;
  border: 1px solid $wnl-orange;
  background-color: $wnl-orange;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
  column-gap: 15px;
}

.check-box-transparent label {
  display: flex;
  align-items: center;
  color: white;
  opacity: 1;
  cursor: pointer;
  width: 100%;
}

.check-box-transparent input {
  margin-right: 5px;
  background-color: #ffffff;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.next-button {
  border: 1px solid $wnl-orange;
  background-color: $wnl-orange;
  padding: 10px;
  font-weight: bold;
  width: 100px;
}

.submit-button {
  border: 1px solid $wnl-orange;
  background-color: $wnl-orange;
  padding: 10px;
  font-weight: bold;
}

.error-container {
  color: salmon;
  font-weight: bold;
  text-align: center;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
.empty-bar {
  border: 1px solid $wnl-orange;
  width: 25%;
  height: 10px;
}

.filled-bar {
  border: 1px solid $wnl-orange;
  width: 25%;
  height: 10px;
  background-color: $wnl-orange;
}
