@import "/src/common/styles/common.scss";
@import "/src/common/styles/colors.scss";

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $wnl-orange;
  padding: 15px 20px;
  margin-top: auto;
  margin-bottom: 0;
}

.logo {
  width: 150px;
}

.newsletter-container {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.newsletter-input {
  background-color: white;
  padding: 10px;
  color: black;
  width: 250px;
}

.newsletter-button {
  background-color: black;
  color: white;
  padding: 10px;
}

.footer-social-container {
  display: flex;
  column-gap: 10px;
}
.social-icon {
  width: 30px;
}
