@import "/src/common/styles/colors.scss";

.form-question-container {
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 5vh;
  margin: 40px auto 0 auto;
}

.form-question-title {
  font-size: 1.5rem;
}

.options-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.check-box-transparent {
  padding: 10px;
  border: 1px solid $wnl-orange;
  background-color: rgba(255, 165, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
  column-gap: 15px;
}

.check-box-transparent:hover {
  background-color: $wnl-orange;
}

.check-box-checked {
  padding: 10px;
  border: 1px solid $wnl-orange;
  background-color: $wnl-orange;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
  column-gap: 15px;
}

.check-box-transparent label {
  display: flex;
  align-items: center;
  color: white;
  opacity: 1;
  cursor: pointer;
  width: 100%;
}

.check-box-transparent input {
  margin-right: 5px;
  background-color: #ffffff;
}

.buttons-container {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.next-button {
  border: 1px solid rgb(110, 98, 98);
  background-color: rgb(110, 98, 98);
  padding: 10px;
  font-weight: bold;
  width: 100px;
  margin-left: auto;
}

.next-button-validated {
  border: 1px solid $wnl-orange;
  background-color: $wnl-orange;
  padding: 10px;
  font-weight: bold;
  width: 100px;
  margin-left: auto;
}

.next-button-validated:hover {
  border: 1px solid black;
  background-color: black;
  padding: 10px;
  font-weight: bold;
  width: 100px;
  margin-left: auto;
}
.submit-button {
  border: 1px solid $wnl-orange;
  background-color: $wnl-orange;
  padding: 10px;
  font-weight: bold;
}

.error-container {
  color: salmon;
  font-weight: bold;
}
